<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container m-5">
        <div style="text-align: center;">
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item">2019</li>
                <li class="list-group-item">2018</li>
                <li class="list-group-item">2017</li>
                <li class="list-group-item">2016</li>
            </ul>
        </div>
    </div>
</body>

</html>